CONFIG_AS_ENABLE=y
CONFIG_RUST_ENABLE=y
CONFIG_GO_ENABLE=y
CONFIG_ZIG_ENABLE=y
CONFIG_WASMOS_TRACE=n
CONFIG_WASMOS_RING3_SMOKE=n
CONFIG_WASMOS_RING3_THREAD_LIFECYCLE_SMOKE=n
CONFIG_KERNEL_TARGET_TRIPLE="x86_64-elf"
CONFIG_QEMU_GDB_PORT=1234
